[submodule "xmarts/multi-branch"]
	path = xmarts/multi-branch
	url = git@github.com:xmarts/multi-branch.git
	branch = 14.0

[submodule "xmarts/xmarts-property-management"]
	path = xmarts/xmarts-property-management
	url = git@github.com:xmarts/xmarts-property-management.git
	branch = 13.0

[submodule "xmarts/branch-extend-iuniversal"]
	path = xmarts/branch-extend-iuniversal
	url = git@github.com:xmarts/branch-extend-iuniversal.git
	branch = 13.0

[submodule "xmarts/purchase-subscriptions"]
	path = xmarts/purchase-subscriptions
	url = git@github.com:xmarts/purchase-subscriptions.git
	branch = master
