[submodule "xmarts/multi-branch"]
	path = xmarts/multi-branch
	url = git@github.com:xmarts/multi-branch.git
	branch = 14.0

[submodule "xmarts/xmarts-property-management"]
	path = xmarts/xmarts-property-management
	url = git@github.com:xmarts/xmarts-property-management.git
	branch = 13.0

[submodule "xmarts/branch-extend-iuniversal"]
	path = xmarts/branch-extend-iuniversal
	url = git@github.com:xmarts/branch-extend-iuniversal.git
	branch = 13.0

[submodule "xmarts/portal-payments"]
	path = xmarts/portal-payments
	url = git@github.com:xmarts/portal-payments.git
	branch = 14.0

[submodule "xmarts/purchase-requests"]
	path = xmarts/purchase-requests
	url = git@github.com:xmarts/purchase-requests.git
	branch = 14.0

[submodule "xmarts/l10n-mx-xml-invoice-extend"]
	path = xmarts/l10n-mx-xml-invoice-extend
	url = git@github.com:xmarts/l10n-mx-xml-invoice-extend.git
	branch = 13.0
[submodule "purchase-subscriptions"]
	path = purchase-subscriptions
	url = git@github.com:xmarts/purchase-subscriptions.git